{% extends 'base.html' %}

{% block head %}
  <title>Valuation Lead POC</title>
{% endblock %}

{% block body %}
<h2 class="title is-1">Valuation Lead POC</h2>

<form class="container box" action="/leads/create" method="post">
  <div class="field">
    <label class="label " for="full_name">Nome:</label><br>
    <input class="input is-large" type="text" id="full_name" name="full_name" required><br>
  </div>
  <div class="field">
    <label class="label" for="email">Email:</label><br>
    <input class="input is-large" type="email" id="email" name="email" required><br>
  </div>
  <div class="field">
    <label class="label" for="cpf">CPF:</label><br>
    <input class="input is-large" type="text" id="cpf" name="cpf" required>
  <div class="field">
    <label class="label" for="phone">Nº telefone:</label><br>
    <input class="input is-large" type="tel" id="phone" name="phone" required>
  </div>
  <div >
    <input
      class="button is-primary is-large"
      type="submit"
      value="Submit"
    >
  </div>
</form>
{% endblock %}
